<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-image: url(/Images/vacina-fundo.jpeg);
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center, center;
        }
    </style>

</head>
<body>
    @model MaisVacina.Models.Login

    @{
        ViewData["Title"] = "Confirmação";
    }

    <h2>Confirmação de Registro</h2>
    <h4><font color="black">Acesso autorizado!</font></h4>

    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nomelogin)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Nomelogin)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Usuario)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Usuario)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Emaillogin)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Emaillogin)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-controller="Login" asp-action="Login" class="btn btn-success">Entrar</a>
    </div>
    <div>
        <img src="~/images/img-cl-21.png"
             width="300px" height="300px" />
    </div>

</body>
</html>
