@model MaisVacina.Models.Cadastro
    <!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-image: url(/Images/vacina.jpg);
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center, center;
        }
    </style>

</head>
<body>

    @{
        ViewData["Title"] = "Detalhes";
    }

    <h2>Detalhes do Cadastro</h2>

    <div>

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Nascimento)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Nascimento)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Endereço)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Endereço)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CPF)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CPF)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" class="btn btn-default" asp-route-id="@Model.Id">Editar</a>
        <a asp-action="Index">Cadastros</a>
    </div>
    <div>
        <img src="~/images/img-cl-21.png"
             width="300px" height="300px" />
    </div>

</body>
</html>

