@model IEnumerable<MaisVacina.Models.Cadastro>
<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-image: url(/Images/vacina-fundo.jpeg);
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center, center;
        }
    </style>

</head>
<body>
    @{
        ViewData["Title"] = "Cadastros";
    }

    <h2>Lista de Cadastros</h2>

    <form class="form-inline" asp-controller="Busca" asp-action="Search">
        <div class="form-group">
            <div class="form-group">
                <label for="Nome">Pesquisar:</label>
                <input type="text" class="form-control" name="Nome" placeholder="Insira um nome" value=@ViewData["Nome"] />
            </div>
        </div>
        <button type="submit" class=" btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
        <a asp-action="Create" class="btn btn-success">Criar Cadastro</a>
        <p></p>
    </form>
    
    <table class="table">
        <thead>
            <tr BGCOLOR="#00BFFF">
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nascimento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Endereco)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr BGCOLOR="#F5F5F5">
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nascimento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Endereco)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                        <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</body>
</html>

